@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:ital,wght@0,800;0,900;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #141640;
}
header{
    height: 60px;
    text-align-last: justify;
    background-color: #F22929;
}
#icon_header{
    width: 45px;
    margin-bottom: 20px;
    padding-left: 25px;
    
}
nav{
    display: inline-block;
    text-align:right
}
nav img{
    padding-right: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 50px;
    
}

main{
    
    box-shadow: 1px 1px 150px #000;
    border-radius: 5px;
    margin: 30px auto;
    width: 900px;
    background-color: #fff;
    padding: 30px;

}
main h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50pt;
    display: inline;
    
}
#spTitle{
    color: darkred;
    display:inline;
    font-size: 20pt;
}

main span{
text-align: center;
}
#div_logo{
    background-color:#141640;
    text-align: center;
    border-radius: 10px;
}
/*#div_logo_img{
    width: 90px;
}*/
main p,h2,h3{
    padding: 10px;
    text-align: justify;
}
#sec_img{
    
    text-align: center; 
    
}

main abbr{
    font-weight: 600;
}

main a{
    text-decoration: none;
    color:#F22929;
}
main a:hover{
    color: #fff;
    background-color: #F22929;
    padding: 5px;
    border-radius: 10px;
}
main>section{
    text-align: center;
}
/*.phar:hover{
    color: #fff;
    background-color: #BF2A37;
    padding: 0px 10px;

}*/
.img_topic{
    padding: 30px;
    display: inline-block;
    text-align: center;
    width: 300px;
    
}

/*article button{
    font-weight: bolder;
    float: right;
    color: #fff;
    width: 100px;
    height: 100px;
    background-color: #495773;
    margin: 30px;
    border-radius: 66%;
    box-shadow: 1px 1px 5px #000;
}
article button:hover{
    background-color: #BF2A37;
    color: #fff;
}*/

footer{
    color: #fff;
    text-align: center;
}


